{{ define "content"}}
<div class="container mt-4">
    <h1>Todo List</h1>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th class="d-none">ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{ range .todos }}
                <tr>
                    <td class="d-none">{{ .ID }}</td>
                    <td>{{ .Title }}</td>
                    <td>{{ .Description }}</td>
                    <td>
                        <a href="/todo/{{ .ID }}" class="btn btn-sm btn-info">View</a>
                        <a href="/todo/{{ .ID }}/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form action="/todo/delete/" method="POST" style="display: inline;">
                            <input type="hidden" name="todoId" value="{{ .ID }}">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    <div class="mt-4">
        <a href="/todo/create" class="btn btn-primary">Add Todo</a>
    </div>
</div>
{{end}}